<iframe src="https://inquest.travelmap.net/?map-only=1" 
width="100%" 
height="200" 
frameborder="0" 
allowfullscreen>
</iframe>
<article class="max-w-full prose dark:prose-light">
  {{ with .Title }}
    <header>
      <h1>{{ . | emojify }}</h1>
    </header>
  {{ end }}
  <section>{{ .Content | emojify }}</section>
</article>

<section>
  {{ partial "recent-articles.html" . }}
</section>
